{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="POST">
    {{ form.csrf_token }}
    {{ form.first_name.label }} {{ form.first_name() }}
    <br>
    {{ form.last_name.label }} {{ form.last_name() }}
    <br> 
    {{ form.username.label }} {{ form.username() }}
    <br>
    {{ form.password.label }} {{ form.password() }}
    <br>
    {{ form.email.label }} {{ form.email() }}
    <hr>
    <input type="submit" value="Register">
</form>
{% endblock %}
